.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 50px;
}


.table-wrap {
    border-radius: 5px; /* Adjust the value to your preference */
    width: 80%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    grid-column-gap: 75px;
}

.text-item-category {
    font-size: 30px;
}

.grid-item {
    font-family: "Lato";
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border: 4px solid #BA0C2F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    width: 300px;
    color: #BA0C2F;
    font-weight: bold;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

.grid-item:hover {
    background-color: #BA0C2F;
    color: white;
    cursor: pointer;

}

.grid-item > i {
    align-self: center;
    margin-bottom: 18%;
    font-size: 200px;
}

.grid-item p {
    margin: 0;
}

table {
    font-family: 'Lato';
    border-collapse: collapse;
    border-radius: 8px;
    width: 100%; /* Table takes full width of its container */
}

td,
th {
    padding: 10px 20px; /* Increase padding for better spacing */
    font-size: 30px; /* Increase font size for better readability */

}




th {
    background-color: #BA0C2F;
    color: white;
    text-align: start;
    padding-bottom: 10px; /* Increase bottom padding */

}

tr:hover{
    background-color: #f4d0d7;
}

tr {
    border-radius: 8px;
    
}



.table-icon {
    background-color: #BA0C2F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    margin-right: 5px;
    font-size: 25px;
}

.nameAndtypeDisabled{
    display: flex;
    flex-direction: row;
    flex-direction: column;
}

.typeDisabled{
    margin-top: 0;
}

.select-disabled {
    cursor: not-allowed;
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    color: black;
    font-family: 'Lato';
    margin-bottom: 15px;
    padding: 10px 10px 10px 6px;
    border-radius: 5px;
    font-size: 16px;
    width: 350px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #BA0C2F;
}

.typeDisabled > input {
    cursor: not-allowed;
    font-family: 'Lato';
    margin-bottom: 15px;
    padding: 10px;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    width: 350px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #BA0C2F;
}

.Attribute-Type{
    margin-top: 0;
}
.Attribute-Name > h2{
    margin-left: 30px;
}


/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
  }

  #showAttr:hover {
    text-decoration: underline;
  }

  .footer-component {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #BA0C2F;
    border: 1px solid #BA0C2F;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #BA0C2F;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
  }

  .custom-attribute {
    flex-direction: row;
    display: flex;
  }

  .button-att-container {
    flex-direction: column;
    display: flex;
    margin-left: 30px;
  }

  .add-attrbt-btn {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #BA0C2F;
    color: white;
    cursor: pointer;
    border: 2px solid #BA0C2F;
    transition: background-color 0.3s ease;
    padding: 8px !important;
    font-size: 14px;
    border-radius: 5px;
    height: fit-content;
    width: 100%;
    text-align: center;
}

.add-attrbt-btn:hover:not([disabled]) {
    background-color: #950924;
    border: 2px solid #950924;
}

.add-attrbt-btn[disabled]{
    background-color: #c56a7c;
    border: 2px solid #c56a7c;
    cursor: default;
}