.Login-Container {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border: 5px;
    border-color: #BA0C2F;
    border-style: solid;
    border-radius: 10px;

    padding-left: 3%;
    padding-right: 3%;
    

}

.Login-Form{
    margin-bottom: 0;
}

.Login {

    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "PT Sans";
}

.Login > h1 {
    margin-bottom: 5px;
    font-weight: bolder;
}


.Login-Form > h2{
    margin-bottom: 5px;
}

.Login-form>input {
    font-weight: lighter;
    font-family: "Lato", "Calibri";
    padding: 3px;
    width: 100%;
}



.Password{
    width: 100%;
}

.Password > input {
    width: 100%;
    padding: 3px;
    margin-bottom: 25px;
}

.Password > button{
    float: right;
    margin-right: 5px;
    margin-top: -45px;
    position: relative;
    background: none;
    border: none;

}
#eye:hover{
    cursor: pointer;

}

.Login-Form >  button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: #BA0C2F;
    color: white;
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 7px;
    font-size: 1.17em;
    font-weight: bolder;
    
   
}

.Login-Form >  button:hover{
    cursor: pointer;
}

.SignUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.SignUp > h3 {
    margin-right: 15px;
}


.SignUp > a{
    text-decoration: none;
    color: #BA0C2F;
    font-weight: bolder;
    font-size: 1.17em ;  /*Online Library text */
    
   

}

body,
html {
    margin: 0;
}

.header {
    background: #BA0C2F;
    color: white;
    font-family: 'PT Sans';
    display: flex;
    padding: 10px 50px 10px 10px;
}



.header-element {
    
    display: flex;
    padding: 10px;
    
}

/*Online Library text */
.header-element > a{
    font-weight: 600;
    font-size: 45px;
    align-self: center;
  
    text-decoration: none;
    
    color: white;
}

/*Login text > to select direct child elements*/
.header > a {
    text-decoration: none;
    color: white;
    align-self: center;
    margin-left: auto;
    font-size: 20px;
}

.um-logo {
    width: 80px;
    height: 80px;
    align-self: center;
    margin-right: 15px;
    vertical-align: middle; /* Vertically align image middle */

}



.help-Container{
    display:flex;
    margin-top: -2%;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    /*border-style:solid;
    border-color:#BA0C2F;*/
    border-radius: 5px;
    padding: 3%;
    align-items: center;
    justify-content: center;

}

.title{
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    font-family: 'PT Sans';
    color:black;
    justify-content: center;
    display: flex;

}

.search {
    background-color: white;
    font-family: 'PT Sans';
    width: 500px; 
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    border-style: solid;
    border-color: #BA0C2F;
    border-radius: 20px;
}

.search input[type="text"] {
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}


.search > button{
    float: right;
    margin-right: 7px;
    margin-top: 9px;
    position: relative;
    background: none;
    border: none;
    font-size: 20px;
}

/*.search > input{
    width: 0%;
}*/

.search>button:hover{
    cursor: pointer;

}

.frequently{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    font-family: 'PT Sans';

}

.example{
    background-color: white;
    font-family: 'PT Sans';
    width: 700px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    border-style:solid;
    border-color:#BA0C2F;
    border-radius: 20px;

}

.example button {
    background-color: transparent;
    border: none;
    font-family: 'PT Sans';
    font-size: 16px;
    color: black;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.example button i {
    margin-left: 190px;
}

.example button j {
    margin-left: 345px;
}

.example button:hover {
    cursor: pointer;
}