################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/Backend/FileContentIndex/add3f1e6-5f0d-47b2-acfc-fb0cf5cc4226.vsidx
/Backend/.vs/Backend/FileContentIndex/3d6c2f86-d8fd-46ec-9534-b2603001fdbf.vsidx
/Backend/.vs/Backend/FileContentIndex/6f8b9b92-ffc9-4b8d-831e-9bd3ce9ecb93.vsidx
