<link rel="stylesheet" href="assets/css/categories.css" type="text/css" />
<div ng-include="'assets/elements/sidebar.html'"></div>

<div ng-if="screen == 'choice'" class="page">
  <div class="grid-container">
    <div ng-click="changeScreen('add')" class="grid-item">
      <i class="fa-solid fa-folder-plus fa-6x"></i>
      <div class="text-item-category">Add Category</div>
    </div>
    <div ng-click="changeScreen('manage')" class="grid-item">
      <i class="fa-solid fa-screwdriver-wrench fa-6x"></i>
      <div class="text-item-category">Manage Category</div>
    </div>
  </div>
</div>

<div ng-if="screen == 'manage'" class="page">
  <div class="table-wrap">
    <table>
      <tr style="color: white">
        <th>Id</th>
        <th>Category Name</th>
        <th>Access Level</th>
        <th>Options</th>
      </tr>
      <tr ng-repeat="category in categories track by $index">
        <td>{{$index + 1}}</td>
        <td>{{category.type}}</td>
        <td>{{category.publicAccess}}</td>
        <td style="text-align: left">
          <i
            ng-click="editCategory(category)"
            class="fa-solid fa-pencil table-icon"
          ></i>
          <i
            ng-click="deleteCategory(category, $index)"
            class="fa-solid fa-trash table-icon"
          ></i>
        </td>
      </tr>
    </table>
  </div>
</div>

<div ng-if="screen == 'add'" class="Categories">
  <h1>Category Manager</h1>
  <div class="Category-Form">
    <form ng-submit="createCategoryAndAttributes(categoryForm, inputFields)">
      <div class="Category-Section">
        <div class="Category-input">
          <h2 style="margin-bottom: 5px;">Category Name</h2>
          <input 
            required
            style="margin-bottom: 0;"
            placeholder="Enter Category Name"
            type="text"
            ng-model="categoryForm.Name"
          />
        </div>
        <div class="Add-Attribute">
          <button ng-disabled="tempItem != null" type="button" ng-click="addInputField()">
            <i class="fa-solid fa-plus"></i>
            Add Fields
          </button>
        </div>
      </div>
      <hr ng-if="tempItem != null" style="border: 1px solid lightgrey; margin: 20px 0 30px;">
      <div class="custom-attribute"  ng-if="tempItem != null">
        <div class="Attribute-Name" >
          <div class="nameAndTypeDisabled" ng-show="tempItem.listView">
            <div class="name">
              <h2 style="margin-bottom: 5px;">Attribute Name</h2>
              <select
                ng-model="tempItem.Id"
                ng-change="changeType(tempItem)"
              >
                <option value="" disabled selected>
                  Select Existing Attribute
                </option>
                <option
                  ng-repeat="attribute in availableAttributes"
                  value="{{ attribute.id }}"
                >
                  {{ attribute.name }}
                </option>
              </select>
            </div>
            <div class="typeDisabled">
              <h2 style="margin-bottom: 5px;">Select Attribute Type</h2>
              <input disabled type="text" ng-model="tempItem.placeholder" />
            </div>
          </div>

          <div ng-hide="tempItem.listView">
            <div class="Type">
              <div class="TypeName">
                <h2 style="margin-bottom: 5px;">Attribute Name</h2>
                <input
                style="padding: 10px;"
                  placeholder="Enter Attribute Name"
                  type="text"
                  ng-model="tempItem.Name"
                />
              </div>
              <div class="Attribute-Type">
                <h2 style="margin-bottom: 5px;">Select Attribute Type</h2>
                <select ng-model="tempItem.TypeId">
                  <option value="" disabled selected>Select Type Name</option>
                  <option
                    ng-repeat="type in attributeTypes"
                    value="{{ type.id }}"
                  >
                    {{ type.typeName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="button-att-container">
          <div style="margin-bottom: auto;">
            <h2 style="margin-bottom: 10px; font-size: 15px;">{{tempItem.listView ? 'Pick Attribute' : 'Create New Attribute'}}</h2>
            <label class="switch">
              <input ng-model="tempItem.listView" ng-click="tempItem.listView = !tempItem.listView" type="checkbox">
              <span class="slider"></span>
            </label>
          </div>
          <div style="display: flex; margin-top: 7.5px;">
            <div ng-click="removeTempField()" class="add-attrbt-btn" style=" margin-bottom: 0px"><i class="fa-solid fa-trash add-icon" style="padding-right: 8px;"></i><strong>Remove Attribute</strong></div>
          </div>
          <div style="display: flex; margin-top: auto;">
            <button ng-click="assignToList()" class="add-attrbt-btn" ng-disabled="(!tempItem.listView && (!tempItem.Name || !tempItem.TypeId)) || (tempItem.listView && !tempItem.Id)"><i class="fa-solid fa-plus add-icon" style="padding-right: 6px;"  ></i><strong>Assign Attribute</strong></button>
          </div>
        </div>
      </div>

      <hr ng-if="tempItem != null" style="border: 1px solid lightgrey; margin: 20px 0 30px;">
      

      <div>
        <p style="cursor: pointer;" id="showAttr" ng-click="showList = !showList">{{!showList ? 'Show' : 'Hide'}} Assigned Attributes ({{inputFields.length}})<i style="padding-left: 3px; padding-bottom: 5px; font-size: 12px;" class="{{showList ? 'fa-solid fa-caret-up' :' fa-solid fa-caret-down'}}"></i></p>
      </div>

      <!-- new -->
      <div ng-if="showList" ng-repeat="inputField in inputFields track by $index">
        <div class="custom-attribute">
          <div class="Attribute-Name" >
            <div class="nameAndTypeDisabled" ng-show="inputField.listView">
              <div class="name">
                <h2 style="margin-bottom: 5px;">Attribute Name</h2>
                <select
                  disabled class="select-disabled"  ng-model="inputField.Id"
                  ng-change="changeType(inputField)"
                >
                  <option value="" disabled selected>
                    Select Existing Attribute
                  </option>
                  <option
                    ng-repeat="attribute in attributes"
                    value="{{ attribute.id }}"
                  >
                    {{ attribute.name }}
                  </option>
                </select>
              </div>
              <div class="typeDisabled">
                <h2 style="margin-bottom: 5px;">Select Attribute Type</h2>
                <input disabled type="text" ng-model="inputField.placeholder" />
              </div>
            </div>

            <div ng-hide="inputField.listView">
              <div class="Type">
                <div class="TypeName">
                  <h2 style="margin-bottom: 5px;">Attribute Name</h2>
                  <input
                    style="padding: 10px;"
                    placeholder="Enter Attribute Name"
                    type="text"
                    ng-model="inputField.Name"
                  />
                </div>
                <div class="Attribute-Type">
                  <h2 style="margin-bottom: 5px;">Select Attribute Type</h2>
                  <select ng-model="inputField.TypeId">
                    <option value="" disabled selected>Select Type Name</option>
                    <option
                      ng-repeat="type in attributeTypes"
                      value="{{ type.id }}"
                    >
                      {{ type.typeName }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="button-att-container">
            <div style="display: flex; margin-top: auto;">
              <div ng-click="removeInputField($index)" class="add-attrbt-btn"><i class="fa-solid fa-trash add-icon" style="padding-right: 5px;"></i><strong>Unassign Attribute</strong></div>
            </div>
            
          </div>
        </div>

        <hr ng-if="inputFields.length-1 != $index" style="border: 1px solid lightgrey; margin: 20px 0 30px;">
      </div>
      <div class="footer-component">
        <select style="width: 250px; margin-right: 20px; margin-bottom: 0;" ng-model="categoryForm.accessLevel" required>
          <option value="" disabled selected>Select Access Level</option>
          <option
            ng-repeat="level in AccessLevels"
            value="{{ level.id }}"
          >
            {{ level.description }}
          </option>
        </select>
        <button id="Submit" ng-disabled="1 > inputFields.length" type="submit">Submit</button>
      </div>
      
    </form>
  </div>
</div>