<link rel="stylesheet" href="assets/css/categoryEditor.css" type="text/css" />
<link rel="stylesheet" href="assets/css/categories.css" type="text/css" />

<div ng-include="'assets/elements/sidebar.html'"></div>
<div class="security-form">
  <form>
    <h2>
      <i style="padding-right: 10px" class="fa-solid fa-user-lock"></i> Category
      Manager
    </h2>
    <div class="category">
      <label>Category Name</label>
      <div class="categoryAddAttribute">
        <input
          placeholder="Enter Category Name"
          type="text"
          ng-model="categoryResponse.category.name"
          ng-disabled="!editMode"
          class="{{!editMode ? 'edit-mode-off' : 'edit-mode-on'}}"
        />

        <button
          style="padding: 10px;"
          ng-if="editMode"
          ng-disabled="!editMode"
          ng-click="addInputField()"
        >
          <i class="fa-solid fa-plus" style="color: #ffffff"></i>
          <strong>Add Attribute</strong>
        </button>
      </div>
    </div>
    <label>Existing Attributes</label>
    <div
      class="attributeFields"
      ng-repeat="attribute in categoryResponse.attributes"
    >
      <div class="attr-section" ng-if="attribute.new != true">
        <input
          type="text" style="margin-right: 10px;"
          ng-model="attribute.name"
          ng-disabled="true"
          class="edit-mode-off"
        />
        <input type="text" ng-disabled="true" ng-model="attribute.typeName" class="edit-mode-off">
      </div>
      <button ng-show="editMode" ng-click="removeInputField($index)">
        <i class="fa-solid fa-trash" style="color: #ba0c2f"></i>
      </button>
    </div>

     <!-- new -->
     <div>
      <hr ng-if="tempItem != null" style="border: 1px solid lightgrey; margin: 20px 0 30px;">
      <div class="custom-attribute"  ng-if="tempItem != null">
        <div class="Attribute-Name" >
          <div class="nameAndTypeDisabled" ng-show="tempItem.listView">
            <div class="name">
              <h2 style="margin-bottom: 5px;">Attribute Name</h2>
              <select
                ng-model="tempItem.Id"
                ng-change="changeType(tempItem)"
              >
                <option value="" disabled selected>
                  Select Existing Attribute
                </option>
                <option
                  ng-repeat="attribute in availableAttributes"
                  value="{{ attribute.id }}"
                >
                  {{ attribute.name }}
                </option>
              </select>
            </div>
            <div style="margin-top: 10px;" class="typeDisabled">
              <h2 style="margin-bottom: 5px;">Select Attribute Type</h2>
              <input style="margin-bottom: 0;" disabled type="text" ng-model="tempItem.placeholder" />
            </div>
          </div>

          <div ng-hide="tempItem.listView">
            <div class="Type">
              <div class="TypeName">
                <h2 style="margin-bottom: 5px;">Attribute Name</h2>
                <input
                style="padding: 10px;"
                  placeholder="Enter Attribute Name"
                  type="text"
                  ng-model="tempItem.Name"
                />
              </div>
              <div style="margin-top: 10px;" class="Attribute-Type">
                <h2 style="margin-bottom: 5px;">Select Attribute Type</h2>
                <select style="margin-bottom: 0;" ng-model="tempItem.TypeId">
                  <option value="" disabled selected>Select Type Name</option>
                  <option
                    ng-repeat="type in attributeTypes"
                    value="{{ type.id }}"
                  >
                    {{ type.typeName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 0;" class="button-att-container">
          <div style="margin-bottom: auto;">
            <h2 style="margin-bottom: 0px; font-size: 15px;">{{tempItem.listView ? 'Pick Attribute' : 'Create New Attribute'}}</h2>
            <label class="switch">
              <input ng-model="tempItem.listView" ng-click="tempItem.listView = !tempItem.listView" type="checkbox">
              <span class="slider"></span>
            </label>
          </div>
          <div style="display: flex; margin-top: 7.5px;">
            <div ng-click="removeTempField()" class="add-attrbt-btn" style=" margin-bottom: 0px"><i class="fa-solid fa-trash add-icon" style="padding-right: 8px;"></i><strong>Remove Attribute</strong></div>
          </div>
          <div style="display: flex; margin-top: auto;">
            <button ng-click="assignToList()" class="add-attrbt-btn" ng-disabled="(!tempItem.listView && (!tempItem.Name || !tempItem.TypeId)) || (tempItem.listView && !tempItem.Id)"><i class="fa-solid fa-plus add-icon" style="padding-right: 6px;"  ></i><strong>Assign Attribute</strong></button>
          </div>
        </div>
      </div>
      <hr ng-if="tempItem != null" style="border: 1px solid lightgrey; margin: 20px 0 30px;">
    </div>
    <div style="width: 100%;" ng-if="editMode">
      <p style="color: #BA0C2F; cursor: pointer;" id="showAttr" ng-click="toggleShowList()">{{!showList ? 'Show' : 'Hide'}} Assigned Attributes ({{inputFields.length}})<i style="padding-left: 3px; padding-bottom: 5px; font-size: 12px;" class="{{showList ? 'fa-solid fa-caret-up' :' fa-solid fa-caret-down'}}"></i></p>
    </div>
    <div ng-if="showList" ng-repeat="inputField in inputFields track by $index">
      <div class="custom-attribute">
        <div class="Attribute-Name" >
          <div class="nameAndTypeDisabled" ng-show="inputField.listView">
            <div class="name">
              <h2 style="margin-bottom: 5px;">Attribute Name</h2>
              <select
                disabled class="select-disabled"  ng-model="inputField.Id"
                ng-change="changeType(inputField)"
              >
                <option value="" disabled selected>
                  Select Existing Attribute
                </option>
                <option
                  ng-repeat="attribute in attributeList"
                  value="{{ attribute.id }}"
                >
                  {{ attribute.name }}
                </option>
              </select>
            </div>
            <div class="typeDisabled">
              <h2 style="margin-bottom: 5px;">Select Attribute Type</h2>
              <input disabled type="text" ng-model="inputField.placeholder" />
            </div>
          </div>

          <div ng-hide="inputField.listView">
            <div class="Type">
              <div class="TypeName">
                <h2 style="margin-bottom: 5px;">Attribute Name</h2>
                <input
                  style="padding: 10px;"
                  placeholder="Enter Attribute Name"
                  type="text"
                  ng-model="inputField.Name"
                />
              </div>
              <div class="Attribute-Type">
                <h2 style="margin-bottom: 5px;">Select Attribute Type</h2>
                <select ng-model="inputField.TypeId">
                  <option value="" disabled selected>Select Type Name</option>
                  <option
                    ng-repeat="type in attributeTypes"
                    value="{{ type.id }}"
                  >
                    {{ type.typeName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="button-att-container">
          <div style="display: flex; margin-top: auto;">
            <div ng-click="removeInputFieldNew($index)" class="add-attrbt-btn"><i class="fa-solid fa-trash add-icon" style="padding-right: 5px;"></i><strong>Unassign Attribute</strong></div>
          </div>
          
        </div>
      </div>

      <hr ng-if="inputFields.length-1 != $index" style="border: 1px solid lightgrey; margin: 20px 0 30px;">
    </div>

    <div style="margin-top: 20px" class="button-group">
      <button style="margin-right: 10px" ng-click="updateCategory()">
        <i
          class="{{!editMode ? 'fa-solid fa-pencil' : 'fa-solid fa-check'}}"
          style="margin-right: 10px"
        ></i
        ><strong>{{!editMode ? 'Edit Category' : 'Save Changes'}}</strong>
      </button>
      <button ng-click="deleteCategory()">
        <i class="fa-solid fa-trash" style="margin-right: 10px"></i
        ><strong>Delete Category</strong>
      </button>
    </div>
  </form>
</div>
