<link rel="stylesheet" href="assets/css/favourites.css" type="text/css" />
<div ng-include="'assets/elements/sidebar.html'"></div>
<div class="home">
  <h1>What are you looking for?</h1>
  <div class="Search-bar">
    <div class="InputContainer">
      <input
        type="text"
        name="text"
        class="input"
        id="input"
        ng-model="searchString"
        placeholder="Search"
      />
      <i
        ng-click="searchForFavourites(searchString)"
        class="fa-solid fa-magnifying-glass magnifying-glass-icon"
      ></i>
    </div>
    <div class="filter-button" ng-click="filterOn = !filterOn">
      Filter
      <i
        style="padding-left: 3px; padding-bottom: 5px; font-size: 12px"
        class="{{filterOn ? 'fa-solid fa-caret-up' :' fa-solid fa-caret-down'}}"
      ></i>
    </div>
  </div>
  <div ng-if="filterOn" class="filter-container">
    <h4>Advanced Filter</h4>
  </div>

  <div class="documents-container">
    <div class="document" ng-repeat="favourite in favourites track by $index" ng-if="favourite.publicAccess || (!favourite.publicAccess && user.Roles.includes('Academic User'))">
      <p style="margin: 0px">{{$index + 1}}</p>
      <i class="fa-solid fa-book fa-4x"></i>
      <div class="text-group">
        <p id="title">{{favourite.title}}</p> 
        <p>{{favourite.category}}</p>
      </div>
      <div class="icons">
        <i class="fa-solid fa-download fa-2x" ng-click="downloadDocument(favourite)" download="{{document.title}}"></i>
        <i
          class="{{favourite.isFavourite ? 'fa-solid fa-heart fa-2x' : 'fa-regular fa-heart fa-2x'}}"
          ng-click="toggleFavourite(favourite, $index)"
        ></i>
        <i class="fa-solid fa-trash-can fa-2x" ng-if="user.Roles.includes('Delete Documents')" ng-click="deleteDocument(favourite)"></i>
      </div>
    </div>
  </div>
</div>
