<link rel="stylesheet" href="assets/css/extra.css" type="text/css"/>
<div ng-include="'assets/elements/sidebar.html'"></div>
<div class="answer-Container">

    <div class="answer">
        <div class="title">
            <h1>
                <i class="fa-solid fa-circle-info"></i>
                Help
            </h1>
        </div>


        <div class="question-content">
            <h2>{{ helpDetails.question }}</h2>
        </div>

        <hr>

        <div class="answer-content">
            <div class="row3">
                <p>{{ helpDetails.answerText }}</p>
            </div>
        </div>
        
    </div>
</div>
