<link rel="stylesheet" href="assets/css/extra.css" type="text/css"/>
<div ng-include="'assets/elements/sidebar.html'"></div>
<div class="help-Container">
    <div class="help">

        <div class="title">
          <h1>
            <i class="fa-solid fa-circle-info"></i>
            Help
          </h1>
        </div>

            <div class="search-box">

              <div class="row">
                <input type="text" id="input-box" placeholder="Search" autocomplete="off" ng-model="search" ng-click="searchbox()">

                <button ng-click="searching(search)"><i class="fa-solid fa-magnifying-glass magnifying-glass-icon"></i></button>
                </input>
              </div>  

            </div> 

            <h2>Help Results:</h2>    

            <div class="example" ng-repeat="x in helpDetails" ng-click="search-box()">
              <div class="row2">
                <a href="#!/helpAnswer/{{x.id}}">
                  <button id="link">{{x.question}}</button>
                </a>
              </div>
            </div>
    </div>
</div>