<div ng-include="'assets/elements/sidebar.html'"></div>

<div class="home">
  <h1>What are you looking for?</h1>
  <div class="Search-bar">
    <div class="InputContainer">
      <input
        type="text"
        name="text"
        class="input"
        id="input"
        placeholder="Search"
      />
      <i class="fa-solid fa-magnifying-glass magnifying-glass-icon"></i>
    </div>
    <div class="filter-button" ng-click="filterOn = !filterOn">
      Filter
      <i style="padding-left: 3px; padding-bottom: 5px; font-size: 12px;" class="{{filterOn ? 'fa-solid fa-caret-up' :' fa-solid fa-caret-down'}}"></i>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-item"><i class="fa-solid fa-book-open fa-6x"></i>Books</div>
    <div class="grid-item"><i class="fa-solid fa-inbox fa-6x"></i>FYPs</div>
    <div class="grid-item"><i class="fa-solid fa-newspaper fa-6x"></i>Articles</div>
    <div class="grid-item"><i class="fa-solid fa-book fa-6x"></i>Journals</div>
    <div class="grid-item"><i class="fa-solid fa-file fa-6x"></i>Theses</div>
    <div class="grid-item"><i class="fa-solid fa-file-audio fa-6x"></i>Audio Books</div>
  </div>
</div>