<div class="Login-Container">
  <div class="Login">
    <h1>Login to Online Library</h1>
    <form class="Login-Form" ng-submit="doesUserExist(loginForm)">
      <h2>Email adress or Username</h2>
      <input type="text" ng-model="loginForm.login" />
      <br />
      <h2>Password</h2>
      <div class="Password-login">
        <input type="password" ng-model="loginForm.password" />
        <button id="eye"><i class="fa-solid fa-eye-slash"></i></button>
      </div>
      <button type="submit">Login</button>
    </form>
    <div class="SignUp">
      <h3>Don't have an account yet?</h3>
      <a href="#!/sign-up">Sign Up</a>
    </div>
  </div>
</div>