<div class="Login-Container">
  <div class="Login">
    <h1>Login to Online Library</h1>
    <form class="Login-Form" ng-submit="doesUserExist(loginForm)">
      <label>Email address or Username</label>
      <input type="text" placeholder="Enter Email or Username" ng-model="loginForm.login" />
      <br />
      <label>Password</label>
      <div class="Password-login">
        <input
          type="{{ typePassword ? 'text' : 'password'}}"
          placeholder="Enter Password"
          ng-model="loginForm.password"
        />
        <div class="eye-button" ng-click="togglePassword()">
          <i style="padding-top: 5px;" class="{{typePassword ? 'fa-solid fa-eye ' : 'fa-solid fa-eye-slash'}}"></i>
        </div>
      </div>
      <div class="error-message" ng-show="showErrorMessage">{{ errorMessage }}</div>

      <button type="submit">Login</button>
    </form>
    <div class="SignUp">
      <h3>Don't have an account yet?</h3>
      <a href="#!/sign-up">Sign Up</a>
    </div>
  </div>
</div>
