<div class="Login-Container" ng-controller="users-controller">
    <div class="Login">
        <h1>Login to Online Library</h1>
        <form class="Login-Form" classng-submit="doesUserExist(loginForm)">
            <h2>Email adress or Username</h2>
            <input type="text"  ng-model="loginForm.username"/>
            <br/>
            <h2>Password</h2>
            <div class="Password">
                <input type="text" ng-model="loginForm.password"/>
                <button id="eye"><i class="fa-solid fa-eye-slash"></i></button>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="SignUp">
            <h3>Don't have an account yet?</h3>
            <a href="sign-up.html">Sign Up</a>
        </div>
    </div>
</div>

