<link rel="stylesheet" href="assets/css/myInfo.css" type="text/css" />
<div ng-include="'assets/elements/sidebar.html'"></div>
<div class="my-info-container">
    <div>
      <h2> <i class="fa-solid fa-circle-user"></i>My Info</h2>
        <label>Name</label>
        <input placeholder="Enter First Name" type="text" ng-model="user.firstName" ng-disabled="true">

        <label>Surname</label>
        <input placeholder="Enter Last Name" type="text" ng-model="user.lastName" ng-disabled="true">

        <label>Username</label>
        <input placeholder="Enter Username" type="text" ng-model="user.username" ng-disabled="true">

        <label>Email</label>
        <input placeholder="Enter Email" type="text" ng-model="user.email" ng-disabled="true">
        <br>
        <button class="my-upload-button" ng-click="MyUploads()"><i class="fa-solid fa-file-arrow-up"></i><strong>View Your Uploads</strong></button>  
        <br>
        <button ng-click="Logout()"><i class="fa-solid fa-right-from-bracket"></i><strong>Log Out</strong></button>  
    </div>
</div>