<link rel="stylesheet" href="assets/css/myInfo.css" type="text/css" />
<link rel="stylesheet" href="assets/css/main.css" type="text/css" />
    <div class="My-Info-Page">

    <h1>
      <i class="fa-solid fa-user"></i>
      My Info </h1>
            <div class="My-Info-Container">
             
                <div class="My-Info">
                 
                      <div id="myInfo">
                        
                        <p>First Name: <span id="first-name">{{user.firstName}}</span></p>
                        <p>Last Name: <span id="last-name">{{user.lastName}}</span></p>
                        <p>Username: <span id="username">{{user.username}}</span></p>
                        <p>Email: <span id="email">{{user.email}}</span></p>
                    </div>
                   
                </div>      
            </div>
          </div>        
