<div class="Sign-Up-Container">
  <div class="Sign-Up">
    <h1>Sign Up to Online Library</h1>
    <div class="Sign-Up-Form">
      <form ng-submit="signUpUser(signUpForm)">
        <div class="row1">
          <div class="Left-Column">
            <label>First Name</label>
            <input type="text" ng-model="signUpForm.firstName" />
            <br />

            <label>Email</label>
            <input type="text" ng-model="signUpForm.email" />
            <br />

            <label>Password</label>
            <div class="Password">
              <input
                type="{{ typePassword ? 'text' : 'password'}}"
                ng-model="signUpForm.password"
              />
              <div class="eye-button-pass" ng-click="togglePassword()">
                <i
                  class="{{typePassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'}}"
                ></i>
              </div>
            </div>
          </div>
          <div class="Right-Column">
            <label>Last Name</label>
            <input type="text" ng-model="signUpForm.lastName" />
            <br />

            <label>Username</label>
            <input type="text" ng-model="signUpForm.username" />
            <br />

            <label>Confirm Password</label>
            <div class="Password-Confirmation">
              <input
                type="{{ typeConfirmPassword ? 'text' : 'password'}}"
                ng-model="signUpForm.passwordConfirmation"
              />
              <div
                class="eye-button-confirm"
                ng-click="toggleConfirmPassword()"
              >
                <i
                  class="{{typeConfirmPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'}}"
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div class="error-message" ng-show="showErrorMessage">{{ errorMessage }}</div>

        <div class="row2">

          <button type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
