<link rel="stylesheet" href="assets/css/document.css" type="text/css"/>
<div ng-include="'assets/elements/sidebar.html'"></div>

<div class="document-Container">
    <form name="DocumentForm">

            <div style="margin-left: 0; margin-right: 0; flex-direction: row;" class="title">
                <h2>{{ Document.document.title }}</h2>
                <div class="icon-group-doc">
                    <i class="{{!editMode ? 'fa-solid fa-pencil' : 'fa-solid fa-check'}}" ng-if="user.id == Document.document.userId" ng-click="toggleEdit()" style="margin-right: 10px;"></i>
                    <i class="{{Document.document.isFavourite ? 'fa-solid fa-heart' : 'fa-regular fa-heart'}}" ng-click="toggleFavourite( Document.document)"></i>
                </div>
            </div>

            <div class="attributes2">
                <label>Uploaded By</label>
                <input type="text" ng-disabled="true" ng-model="Document.document.author">
            </div>

            <div class="attributes2">
                <label>Category</label>
                <input type="text" ng-disabled="true" ng-model="Document.document.category">
            </div>

            <div class="attributes2">
                <label>Language</label>
                <input type="text" ng-disabled="true" ng-model="Document.document.language">
            </div>

            <div class="attributes" ng-repeat="attribute in Document.attributes">
                <label>{{ attribute.name}}</label>
                <input ng-disabled="!editMode" type="{{attribute.tag}}" ng-model="attribute.value">
            </div>  
    </form>
</div>